.Logo
{
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 50px;
  text-align: center;
}

#MenuBlock
{
  margin-left: 40px;
}

.Menu-Main 
{
  list-style: none;
  margin: 10px 0 5px;
  padding: 10px 0 5px;
  text-align: center;
}

.Menu-Main li {display: inline-block;}
.Menu-Main li:after 
{
  content: "|";
  color: #000000;
  font-size: 30px;
  display: inline-block;
}

.Menu-Main li:last-child:after {content: none;}
.Menu-Main a 
{
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 4px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 50px 0 30px;
  font-size: 25px;
  display: inline-block;
  color: #000000;
}

.Menu-Main a, .Menu-Main a:visited {color: #000000;}
.Menu-Main a:before,
.Menu-Main a:after 
{
  content: "";
  position: absolute;
  height: 6px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #000000;
  transition: .8s;
}

.Menu-Main a:hover:before, .Menu-Main .current:before {left: 0;}
.Menu-Main a:hover:after, .Menu-Main .current:after {right: 0;}   

@media (max-width: 550px) 
{
.Menu-Main {padding-top: 0;}
.Menu-Main li {display: block;}
.Menu-Main li:after {content: none;}
.Menu-Main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.ImageContainer
{
  padding-top: 10px;
}

.ImageContainer ul,
.ImageContainer li
{
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  max-width: 920px;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif; 
  letter-spacing: 3px;
  font-size: 30px;
}

.ImageContainer li
{
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.Description
{
  position: absolute;
  width: 300px;
  height: 433px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  padding-top: 210px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition:  all .4s;
  transform:  scale(0);
  text-decoration: none;
}

.ImageContainer li:hover .Description
{
  opacity: 1;
  transform: scale(1.3);
}

#MenuButton
{
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 10px;
  display: none;
  background-color: rgba(0, 0, 0, 0.00001);
  border: solid 1px;
  border-color:  rgba(0, 0, 0, 0.00001);
  outline: none;
}

@media screen and (min-width: 966px)
{
  .ImageContainer
  {
    margin-right: 32px;
  }
}

@media screen and (max-width: 700px)
{
  #MenuButton
  {
    display: block;
  }

  #MenuBlock
  {
    margin-right: 40px;
    display: none;
  }

  .ImageContainer
  {
    margin-left: -40px;
  }
}