.HeaderUrl
{
  text-decoration: none;
  color: black;
}

.Logo
{
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 50px;
  text-align: center;
}

#MenuBlock
{
  margin-left: 40px;
}

.Menu-Main 
{
  list-style: none;
  margin: 10px 0 5px;
  padding: 10px 0 5px;
  text-align: center;
}

.Menu-Main li {display: inline-block;}
.Menu-Main li:after 
{
  content: "|";
  color: #000000;
  font-size: 30px;
  display: inline-block;
}

.Menu-Main li:last-child:after {content: none;}
.Menu-Main a 
{
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 4px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 50px 0 30px;
  font-size: 22px;
  display: inline-block;
  color: #000000;
}

.Menu-Main a, .Menu-Main a:visited {color: #000000;}
.Menu-Main a:before,
.Menu-Main a:after 
{
  content: "";
  position: absolute;
  height: 6px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #000000;
  transition: .8s;
}

.Menu-Main a:hover:before, .Menu-Main .current:before {left: 0;}
.Menu-Main a:hover:after, .Menu-Main .current:after {right: 0;}   

@media (max-width: 550px) 
{
.Menu-Main {padding-top: 0;}
.Menu-Main li {display: block;}
.Menu-Main li:after {content: none;}
.Menu-Main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.Deliverance
{
  margin-left: 16%;
  width: 30%;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 20px;
  text-align: left;
  position: relative;
}

.Paymant
{
  margin-right: 16%;
  float: right;
  width: 30%;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 20px;
  text-align: right;
  position: relative;
}

.Deliverance img
{
  width: 60%;
  height: auto;
}

.Paymant img
{
  width: 45.5%;
  height: auto;
  margin-right: -10px;
}

@media screen and (device-width : 1920px)
{
  .Logo 
  { 
    margin-left: -17px;
  } 
   
  .Menu-Main  
  { 
    margin-left: -17px;
  } 
  
}

@media screen and (max-width: 992px)
{
  .Paymant, .Deliverance
  {
    width: 63.5%;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
  .Logo,.Menu-Main
  {
    margin-left: 0px;
  }
}

#MenuButton
{
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 10px;
  display: none;
  background-color: rgba(0, 0, 0, 0.00001);
  border: solid 1px;
  border-color:  rgba(0, 0, 0, 0.00001);
  outline: none;
}

@media screen and (max-width: 800px)
{
  #MenuButton
  {
    display: block;
  }

  #MenuBlock
  {
    margin-right: 40px;
    display: none;
  }
}

@media screen and (device-width: 1440px)
{
  .Logo
  {
    margin-left: 0px;
  }

  #MenuBlock
  {
    margin-left: 40px;
  }
}