.HeaderUrl
{
  text-decoration: none;
  color: black;
}

.Logo
{
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 50px;
  text-align: center;
}

#MenuBlock
{
  margin-left: 40px;
}

.Menu-Main 
{
  list-style: none;
  margin: 10px 0 5px;
  padding: 10px 0 5px;
  text-align: center;
}

.Menu-Main li {display: inline-block;}
.Menu-Main li:after 
{
  content: "|";
  color: #000000;
  font-size: 30px;
  display: inline-block;
}

.Menu-Main li:last-child:after {content: none;}
.Menu-Main a 
{
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 4px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 50px 0 30px;
  font-size: 22px;
  display: inline-block;
  color: #000000;
}

.Menu-Main a, .Menu-Main a:visited {color: #000000;}
.Menu-Main a:before,
.Menu-Main a:after 
{
  content: "";
  position: absolute;
  height: 6px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #000000;
  transition: .8s;
}

.Menu-Main a:hover:before, .Menu-Main .current:before {left: 0;}
.Menu-Main a:hover:after, .Menu-Main .current:after {right: 0;}   

@media (max-width: 550px) 
{
.Menu-Main {padding-top: 0;}
.Menu-Main li {display: block;}
.Menu-Main li:after {content: none;}
.Menu-Main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.Product
{ 
  max-width: 60%; 
  margin: 0 auto; 
  position: relative;
  text-align: center;
} 

#Image
{
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 90px;
}

.Information
{
  position: relative;
  width: 100%;
}

.Description
{ 
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 20px; 
} 

.NameOfProduct 
{ 
  font-family: 'Dancing Script', cursive; 
  font-size: 40px; 
} 
 
#Price 
{ 
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 25px; 
} 

#Buy
{
  font-size: 15px; 
  text-decoration: none; 
  outline: none; 
  color: black; 
  position: relative; 
  padding: 15px 30px; 
  border: 1px solid; 
  border-image: linear-gradient(black); 
  border-image-slice: 1; 
  margin: 10px 20px;   
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase; 
  overflow: hidden; 
  letter-spacing: 2px; 
  transition: .8s cubic-bezier(.165,.84,.44,1);
  background-color: white; 
  cursor: pointer;
}

#T-Shirt,#SweatShirt,#Hoodie
{
  font-size: 15px; 
  text-decoration: none; 
  outline: none; 
  color: black; 
  position: relative; 
  padding: 10px 20px; 
  border: 1px solid; 
  border-image: linear-gradient(black); 
  border-image-slice: 1; 
  margin: 10px 20px;   
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase; 
  overflow: hidden; 
  letter-spacing: 2px; 
  transition: .8s cubic-bezier(.165,.84,.44,1); 
  background-color: white;
  cursor: pointer;
}

#Overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.OrderForm 
{
  position: relative;
  max-width: 320px;
  margin: 50px auto;
  text-align: center;
}

.Form:before 
{
  display: inline-block;
  margin-top: -45px;
}

.Form 
{
  padding: 0 40px 10px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
}

.FormContainer 
{
  position: relative;
  margin: 30px -40px 0 -40px;
  padding: 10px 40px 0 40px;
  background: rgb(255, 255, 255);
}

.FormContainer:before 
{
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  left: 0;
  height: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.FormContainer h3 
{
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 18px;
  color: #000000;
  font-weight: normal;
}

.FormContainer input,
.FormContainer select 
{
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  background: #ffffff;
  border: 1px solid #DDDDDD;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  outline: none;
  cursor: pointer;
}

.FormContainer input 
{
  width: 100%;
}

.FormContainer input:focus,
.FormContainer select:focus
{
  border-color: rgb(0, 0, 0);
}

.FormContainer input[type="submit"] 
{
  padding: 0 10px; 
  font-size: 20px;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 30px;
  cursor: pointer;
}

.Close
{
  margin-right: 10px;
  margin-top: 2px;
  float: right;
  overflow: hidden;
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
}

@media screen and (max-width: 600px)
{
  #T-Shirt,#SweatShirt,#Hoodie,#Buy
  {
    margin: 10px auto;
  }
}

#MenuButton
{
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 10px;
  display: none;
  background-color: rgba(0, 0, 0, 0.00001);
  border: solid 1px;
  border-color:  rgba(0, 0, 0, 0.00001);
  outline: none;
}

@media screen and (max-width: 700px)
{
  #MenuButton
  {
    display: block;
  }

  #MenuBlock
  {
    margin-right: 15px;
    display: none;
  }
}

@media screen and (device-width : 1920px)
{
  .Logo 
  { 
    margin-left: -17px;
  } 
   
  .Menu-Main  
  { 
    margin-left: -17px;
  } 
  
}